//Style commun à tous les éléments
html,
body {
    font-family: $font-main;
    padding: 20px 40px;

}

// Dark & Light Mode
.darkMode {
    background-color: $background-dark;
    color: $on-background-dark;

    & .mainPage-sectionForecast-forecastCard-overlay {
        background-color: $overlay-dark;
    }

    & .mainPage-sectionForecast-forecastCard {
        box-shadow: 0px 0px 20px $shadow-color-dark;
    }
}


.lightMode {
    background-color: $background-light;
    color: $on-background-light;

    & .mainPage-sectionForecast-forecastCard-overlay {
        background-color: $overlay-light;
    }

    & .mainPage-sectionForecast-forecastCard {
        box-shadow: 0px 0px 10px $shadow-color-light;
    }
}
